mixin test
    .test
        .container
            h2.test__title What Our Tourist Say
            .row
                .col-12.col-md-5
                    img.test__img(src="../dist/img/img8.png")
                .col-12.col-md-7.no-gutters.test__desc
                    .test__name 
                        p SAM SUMON
                    .test__quote
                        i.test__icon.fas.fa-quote-left
                        p.test__text But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system

