mixin about
    .about(id="about")
        .about__wrapper
            .container
                .row
                    .col-12.col-md-6
                        .about__plate
                            h2.about__title Why Choose Us
                            p.about__text Tion and dislike men who are so beguiled and demoralized by desire by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee 
                            p.about__text Ddislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that.
                            .about__button.button
                                a.about__link explore places
                    .col-12.col-md-6
                        .row
                            .col-12.offset-lg-1.col-lg-9.about__img
                                img(src="./img/img2.png")
                            .col-12.offset-lg-3.col-lg-9.about__img-second
                                img(src="./img/img3.png")
