mixin review
    .review(id="review")
        .review__sectionOne
            .container
                .row
                    .col-12.col-lg-6
                        .review__block
                            h2.review__title Spain
                            h3.review__subtitle GRAND SPAIN MADRID
                            p.review__text But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                            a.button.review__button book now
        .review__sectionTwo
                 .container
                    .row
                        .col-12.offset-lg-6.col-lg-6
                            .review__block
                                h2.review__title Spain
                                h3.review__subtitle GRAND SPAIN MADRID
                                p.review__text But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system
                                a.button.review__button book now

