mixin footer
    .footer
        .container
            a.footer__logo bhromaon
            .footer__slogan Safe Travel Anywhere
            .row    
                .offset-2.col-8.col-sm-6.offset-sm-3.offset-lg-5.col-lg-2.no-gutters
                    .footer__social
                        ul.footer__list
                            li.footer__item
                                a.footer__link
                                    i.fab.fa-facebook-f
                            li.footer__item
                                a.footer__link
                                    i.fab.fa-twitter
                            li.footer__item
                                a.footer__link
                                    i.fab.fa-linkedin-in
                            li.footer__item
                                a.footer__link
                                    i.fab.fa-youtube
                            li.footer__item
                                a.footer__link
                                    i.fab.fa-pinterest