mixin way
    .way
        .container
            .row
                .col-4
                    .way__section
                        .way__icon
                            svg.way__icon1
                                use(xlink:href="./img/icons/icons.svg#icon2")
                        .way__title
                            h3 Search Places
                .col-4
                    .way__section
                        .way__icon
                            svg.way__icon2
                                use(xlink:href="./img/icons/icons.svg#icon3")
                        .way__title
                            h3 Select Places
                .col-4
                    .way__section
                        .way__icon
                            svg.way__icon3
                                use(xlink:href="./img/icons/icons.svg#icon4")
                        .way__title
                            h3 Book &#38; Enjoy